#container-third{
  width: 100%;
  position: relative;
}
.reading-container{
  width: 100%;
  max-width: 1400px;
  min-height: 20em;
}
.packages-container{

}
#schedule {
  background-color: #FEF2E2;
  position: absolute;
  top: -25em;
  left: 50%;
  transform: translateX(-50%);
  padding: 3em 10em 3em 3em;
  box-shadow: 0em 0.15em 1em rgba(0,0,0,0.6);
}
#schedule {
  background-image: url("../images/design/pineapple2.png");
  background-size: 10em;
  background-repeat: no-repeat;
  background-position: right;
}
#schedule h3 {
  color: #9d000c;
  font-size: 2em;
  line-height: 1em;
}
#schedule section{
  padding-top: 0.5em;
}
#container-third h2 {
  color: gold;
  text-transform: capitalize;
  position: absolute;
  top: -3em;
  font-size: 3em;
  font-family: "Laila";
  width: 100%;
  text-align: center;
  text-shadow: 0em 0em 0.25em black;
}
.packages-container {
  width: 100%;
  background-image: url("../images/design/tapaCloth.jpg");
  background-size: 20em;
  background-position: top;
  box-shadow: 0em 0.15em 1em rgba(0,0,0,0.6);
  position: relative;
  margin-top: 20em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.package {
  text-align: center;
  background: white;
  box-shadow: 0em 0em 1.5em rgba(0,0,0,0.5);
  position: relative;
  margin: 1em auto;
  display: table;
  max-width: 50em;
  width: 90%;
}
.package section {
  padding: 1em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.package li {
  width: 33%;
  display: table-cell;
  padding: 1em;
}
.package h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.package img {
  width: 9em;
  border-radius: 50%;
  border: 0.25em solid white;
  box-shadow: 0em 0em 1em rgba(0,0,0,0.5);
}
.package section{

}
.package article{

}
.package ul {
  display: table;
  width: 100%;
}
.package li{

}
#palm-left-2, #palm-right-2 {
    position: absolute;
    height: 23em;
}
#palm-left-2 {
    left: -2em;
    top: -12em;
    transform: scaleY(-1);
}
#palm-right-2 {
    top: -10em;
    transform: scaleX(-1) scaleY(-1);
    right: 0;
}
@media(max-width:1262px){
  #schedule {
    top: -25em;
  }
  .packages-container {
    margin-top: 28em;
  }
}
