#container-first {
    width: 100%;
    padding: 10em 10em 2.5em 10em;
    position: relative;
    overflow: hidden;
}
#container-first::before{
  content: " ";
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../images/photos/sean-oulashin-KMn4VEeEPR8-unsplash.jpg");
}
#top-gallery {
  width: 100%;
  max-width: 1400px;
  padding: 1.5em;
  background-image: url("../images/design/tapaCloth.jpg");
  background-size: contain;
  background-position: center;
  box-shadow: 0em 0.15em 1em rgba(0,0,0,0.6);
  position: relative;
}
#top-gallery-gallery {
  width: 100%;
  height: 28em;
  position: relative;
  background-color: black;
  overflow: hidden;
}
.slide {
	position: absolute;
	width: 100%;
	opacity: 0;
	background-size: cover;
	background-position: center;
	transition: 2s;
	top: 50%;
	transform: translateY(-50%);
}
.slide.active{
  opacity: 0.7;
}
#galleryPrev, #galleryNext {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  border: 0em solid rgba(0,0,0,0);
  z-index: 2;
}
#galleryPrev .material-symbols-outlined,
#galleryNext .material-symbols-outlined{
  color: white;
  font-size: 6em;
}
#galleryPrev{
  left: 1em;
}
#galleryNext{
  right: 1em;
}
#galleryPrev,
#galleryNext{
  opacity: 0;
  transition: 0.5s;
}
#gallery-content:hover #galleryPrev,
#gallery-content:hover #galleryNext{
  opacity: 1;
}
#gallery-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 16em 1.5em 2em 1.5em;
    left: 50%;
    top: 50%;
}
#container-first section {
  text-align: center;
  padding: 0.5em;
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}
#container-first h2 {
  text-transform: uppercase;
  color: white;
  font-size: 3.25em;
  line-height: 1em;
  text-shadow: 0em 0em 1em black;
  width: 65%;
  padding: 0.5em;
  text-align: justify;
}
#booknow {
	position: absolute;
	right: 5em;
	bottom: 1em;
	font-size: 1em;
}
/*==============================*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\|*/
/*==============================*/
#container1half {
	position: relative;
	width: 100%;
	padding: 0em 10em 10em 10em;
}
#container1half a {
	border: 1.25em solid #f1dfcb;
	overflow: hidden;
	display: inline-block;
	height: 25em;
	position: relative;
	width: 100%;
  box-shadow: 0em 0.15em 1em rgba(0,0,0,0.6);
  background-color: black;
}

  #container1half.checkpoint .banner{
    transform: scale(1);
    transition: 1s;
  }
  #container1half.checkpoint.active .banner{
    transform: scale(1.2);
  }
  #container1half a .banner{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  #container1half a h2 {
    position: absolute;
    z-index: 3;
    color: #f9d365;
    font-weight: bold;
    left: 1em;
    top: 25%;
    font-size: 3em;
    font-family: "Lobster";
  }
  #container1half a p {
    position: absolute;
    color: #f2dfcc;
    top: 50%;
    z-index: 3;
    left: 2em;
    width: 17em;
    font-size: 1.25em;
  }
  #container1half a span {
  	position: absolute;
  	bottom: 2em;
  	left: 3em;
  }
  #palm-left, #palm-right {
    position: absolute;
    height: 15em;
  }
  #palm-left{
    left: -2em;
    bottom: -6em;
    transform: scaleY(-1);
  }
  #palm-right{
    transform: scaleX(-1) scaleY(-1);
    bottom: -6em;
    right: -2em;
  }
@media (max-width:1262px) {
  #container-first {
	padding: 0em 4em 4em 4em;
  }
  #container1half {
	position: relative;
	width: 100%;
	padding: 0em 4em 13em 4em;
  }
}
@media(max-width:1080px){
  #container1half a .banner {
    width: auto;
    height: 100%;
    opacity: 0.8;
  }
}
@media(max-width:920px){
  #booknow {
  	width: 50%;
  	margin-top: 5em;
  	position: initial;
  }
  #container-first {
	padding: 9em 1em 9.5em 1em;
}
  #container1half {
    padding: 0em 1em 0em 1em;
	  margin-bottom: 0;
	  height: 28em;
  }
  #container-first h2 {
    width: 100%;
    font-size: 3em;
    padding: 0.5em;
  }
}
@media(max-width:750px){
  #container-first h2 {
    font-size: 2.5em;
  }
  #booknow {
    bottom: -13em;
  }
  #bop-left, #bop-right {
    width: 18em;
  }
  #container-first {
  	padding: 9em 1em 7.5em 1em;
  }
  #container1half a h2 {
	   text-align: center;
	   width: 100%;
	   left: 0;
	   top: 1em;
  }
  #container1half a span {
	   left: 50%;
	   transform: translateX(-50%);
  }
}
@media(max-width:400px){
  #container-first {
  	padding: 10em 1em 15.5em 1em;
  }
  #booknow {
    width: 75%;
  }
  #galleryPrev,
  #galleryNext{
    opacity: 1;
  }
}
#container-second section {
	background-image: url("../images/design/tapaCloth.jpg");
	padding: 4em;
	box-shadow: 0em 0em 2em #0000008c;
	background-size: 28em;
  margin-bottom: 1em;
}
#container-second section p {
	background:rgba(255,255,255,0.8);
	padding: 3em;
	line-height: 3em;
}
@media (max-width:767px) {
  #container-second section {
	padding: 0;
  }
}
