/*----start  global classes ------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  font-family: "Oswald", sans-serif;
  background: rgb(171, 50, 78);
  background: linear-gradient(
    90deg,
    rgba(171, 50, 78, 1) 0%,
    rgba(128, 0, 128, 1) 100%
  );
}
:root {
    --primary-color: #ffd700;
    --secondary-color: #ab324e;
    --black-color: #333;
    --white-color: #fff;
    --purple-color: #734378;
    --danger: #dc3545;
}
/*----end global classes ------*/
/*----end navbar------*/
.navbar {
  position: relative;
  width: 100%;
  z-index: 5555;
  transition: all 0.5s ease-in;
}
.logo img {
  width: 120px;
}
.icon-bars {
  display: none;
}
.icon-bars i {
  font-size: 22px;
  color: var(--white-color);
  cursor: pointer;
}
.nav-list {
  list-style: none;
  padding: 10pxs;
  margin: auto;
}
.nav-list li {
  padding: 0px 10px;
}
.nav-list li a {
  color: var(--white-color);
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 500;
  text-transform: capitalize;
}
.nav-list li a:hover {
  color: var(--primary-color);
}
.phone-number {
  background-color: var(--primary-color);
  padding: 10px;
  margin-bottom: 10px;
}
.phone-number a {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}
.phone-number span {
  margin-left: 20px;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    background-color: #41013f;
  }
  .box-logo {
    width: 100%;
  }
  .logo img {
    width: 80px;
  }
  .box-nav-list {
    display: none;
  }
  .nav-list {
    flex-direction: column;
    padding: 10px 0px;
  }
  .nav-list li {
    padding: 15px 0px;
  }
  .icon-bars {
    display: block;
  }
  .phone-number {
    margin-top: 30px;
    display: none;
  }
}
/*----start header------*/
.header {
  height: 20em;
  width: 100%;
  /*--img---*/
  background-image: url(../Image/header.jpg);
  background-position: bottom;
  background-size: cover;
  position: relative;
}
.hero-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  text-align: center;
}
.hero-text h1 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  font-size: 60px;
}
.hero-text p {
  font-size: 45px;
  color: var(--white-color);
  letter-spacing: 2;
  font-weight: 200;
  text-shadow: 0px 5px 10px rgb(0 0 0 / 50%);
}
@media (max-width: 800px) {
  .header {
    height: initial;
  }
  .hero-text h1 {
    font-size: 22px;
  }
  .hero-text img {
    width: 50%;
  }
  .hero-text p {
    font-size: 18px;
  }
}
/*----end header------*/
/*----start products ------*/
.products {
  position: relative;
  margin-bottom: 60px;
}
.title {
  text-align: center;
  color: var(--white-color);
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 40px;
  color: var(--primary-color);
}
.products .product-cart {
  margin-bottom: 50px;
}
.products .product-cart img {
  width: 100%;
  height: 244px;
  margin-bottom: 20px;
  box-shadow: 2px 3px 14px 0px;
}
.products .btn-container {
  color: var(--white-color);
}
.products .btn-container span {
  margin-bottom: 20px;
}
.products .btn-container h3 {
  margin-bottom: 30px;
}
.products .btn-container a,
.model-body a,
.card-body a {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px 30px;
  font-weight: 500;
  transition: all 0.8 ease-in-out;
  cursor: pointer;
  font-size: 20px;
}
.products .btn-container a:hover,
.model-body a:hover,
.card-body a:hover {
  opacity: 0.5;
}
.line-throw {
  text-decoration: line-through;
}
@media (max-width: 500px) {
  .products .product-cart img {
    height: 100px;
  }
}
.model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
  padding: 20px;
  z-index: 10;
  width: 500px;
  max-width: 80%;
  transition: all 0.5s ease-in-out;
}
.model.active {
  transform: translate(-50%, -50%) scale(1);
}
.model-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--primary-color);
    flex-wrap: wrap;
    background-color: var(--secondary-color);
}
.model-header .title-model {
    font-size: 40px;
    color: var(--primary-color);
}
@media (max-width: 500px) {
  .model-header .title-model {
    font-size: 20px;
  }
}
.model-header .close-button {
  padding: 1px 12px;
  background-color: var(--purple-color);
  color: var(--primary-color);
  border: none;
  cursor: pointer;
}
.model-body {
  text-align: center;
  padding: 20px;
}
.model-body h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--secondary-color);
}
.model-body p {
  text-align: center;
  margin-bottom: 20px;
}
.offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.offer span {
  color: var(--primary-color);
}
.offer h3 {
  font-size: 1.25rem;
  font-style: italic;
  color: #41013f;
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
}
.overlay.active {
  opacity: 1;
  pointer-events: all;
}
/*----end products------*/
/*----start  service------*/
.service {
  position: relative;
  margin-bottom: 60px;
}
.service-info {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.service-info i {
  background-color: var(--white-color);
  color: var(--secondary-color);
  border-radius: 50%;
  font-size: 50px;
  padding: 16px;
  margin-bottom: 20px;
}
.service-info h3 {
  font-size: 500;
  font-size: 35px;
  text-align: center;
}
.service-info p {
  text-align: center;
}
/*----end service------*/
/*----start text info ------*/
.text-info {
  position: relative;
  background-color: #ffb5b5;
  padding: 30px;
}
.text-info .info p {
  color: var(--secondary-color);
  font-size: 19px;
  line-height: 1.8;
  font-weight: 500;
  margin-bottom: 20px;
}
.text-info .info p span {
  font-weight: 700;
}
.text-info img {
  width: 100%;
  margin-bottom: 20px;
}
.text-info h6 {
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
/*----end text info -----*/
/*----start footer-----*/
footer {
  position: relative;
  background-image: url("../Image/background.png"),
    -webkit-linear-gradient(purple, #ab324e, #ab324e);
  background-size: 4em, cover;
  padding-top: 30px;
  height: 60vh;
}
footer .logo-footer img {
  width: 215px;
  margin-bottom: 20px;
}
.title-footer {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 30px;
  margin-left: -22px;
  margin-bottom: 10px;
}
.list-footer li {
  padding: 2px;
}
.list-footer li::marker {
  color: var(--primary-color);
}
.list-footer li a {
  color: var(--white-color);
  transition: all 0.8 ease-in-out;
  cursor: pointer;
}
.list-footer li a:hover {
  color: var(--primary-color);
}
footer .icons {
  margin-left: -22px;
}
footer .icons i {
  background-color: var(--white-color);
  color: var(--secondary-color);
  padding: 10px;
  font-size: 27px;
  transition: all 0.8 ease-in-out;
  cursor: pointer;
}
footer .icons i:hover {
  opacity: 0.5;
}
.footer-end {
  background-color: #800080;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: var(--primary-color);
  position: absolute;
  bottom: 0px;
}
.footer-end a {
  margin-left: 15px;
}
@media (max-width: 500px) {
  footer {
    padding: 30px;
    height: 100%;
  }
  .footer-end {
    display: none;
  }
}
/*----end footer  -----*/
/*----end cards  -----*/
.cards {
  position: relative;
  margin-bottom: 60px;
  padding: 40px;
}

.img-header-banner{
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  background-image: url('../Image/blog_index.jpg');
  background-size: cover;
}

.img-header{
    overflow: hidden;

}
.img-header img {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}
.card-body {
  background-color: #ffb5b5;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.card-body .date {
  position: absolute;
  left: 0px;
  padding: 10px;
  top: 0px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.card-body img {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}
.card-body h2 {
  color: #41013f;
  font-size: 25px;
  margin-bottom: 20px;
}
.card-body p {
  margin-bottom: 38px;
}
.card-body a {
  margin-top: 20px;
}
/*----end cards  -----*/
/*----start details  -----*/
.details {
  position: relative;
  background-color: #ffb5b5;
  padding: 30px;
}
.body-details h3 {
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.body-details p {
  line-height: 2.1;
}
/*----end details  -----*/
/*---start product details ------*/
.post {
  position: relative;
  background-color: #ffb5b5;
  padding: 30px;
}
.post-info h2,
.post-info h3 {
  margin-bottom: 30px;
  color: var(--secondary-color);
}
.post-info p {
  line-height: 1.9;
}
.post-info h4 {
  font-size: 18px;
  margin-bottom: 20px;
}
.post-info h5 {
  font-size: 17px;
}
.post-info ul {
  margin-left: 20px;
}
.post-info ul li {
  font-size: 15px;
  line-height: 2;
}
.second-img {
  margin-top: 30px;
}
.second-img h4 {
  font-size: 20px;
  line-height: 1.5;
}
.second-img img {
  width: 350px;
  margin-bottom: 40px;
}
.images-sections .img-container img {
  margin: 5px;
  box-shadow: 0px 1px 5px 0px;
}
.images-sections .img-container p {
  text-align: center;
  font-size: 15px;
}
.box-post {
  border: 1px solid #8d4d0f;
  padding: 20px;
}
.box-post h3 {
  font-size: 18px;
  color: #8d4d0f;
}
.box-post span {
  color: var(--black-color);
  font-size: 15px;
}
.cart-post > a {
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 20px;
}
.cart-post h5 {
  font-size: 15px;
  margin-bottom: 20px;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-transform: capitalize;
  font-size: 14px;
}
td input {
  width: 30px;
}
.price-n span {
  color: red;
  text-decoration-line: line-through;
}
.price-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}
.price-form p {
  line-height: 2;
  font-size: 14px;
  margin-bottom: 30px;
}
.price-form label {
  font-size: 11px;
  margin-bottom: 10px;
  font-weight: bold;
}
.price-form input[type="text"],
.price-form input[type="email"],
.price-form input[type="date"],
.price-form textarea,
.price-form input[type=submit],
.price-form select {
  width: 100%;
  margin-bottom: 10px;
}
.price-form button {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: #e5bf23;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
}
.price-form button:hover {
  opacity: 0.8;
}
.price-form img {
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .iframe {
    height: 300px;
  }
}
/*----end product details   ------*/


/*----start page cart  ------*/
.cart {
    position: relative;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

    td p {
        font-size: 12px;
        font-weight: bold;
    }

@media (max-width:500px) {
    .cart-table tr th {
        display: none;
    }

    .cart-table tr {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.checkout-section {
    position: relative;
}

.checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

    .checkout input[type=text] {
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
    }

    .card-body table {
        width:100%;
    }

#checkout-display-warning.text-warning {
    color: var(--danger) !important;
}

/*----end page cart  ------*/

#accordion {
    width: 100%;
}

.cart-buttons {
    width: 100%;
    text-align: center;
}

    .cart-buttons a img {
        border: 0;
        margin: 0;
        padding: 0;
        vertical-align: top;
    }


.card-header {
    background-color: var(--purple-color);
}
.card {
    background-color: #ffb5b5;
}
div.card {
    border-color: var(--purple-color);
    border-width: thin;
}

.submit-img {
    width: 96px;
    background-repeat: no-repeat;
    background-image: url(../image/add-cart.jpg);
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 31px;
}

.view-img {
    width: 96px;
    background-repeat: no-repeat;
    background-image: url(../image/add-cart-2.jpg);
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 31px;
}

.terms-scroll-box {
    overflow-y: scroll;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    border: 1px solid black;
}

label.error {
    color: red;
    font-weight: bold;
}

.btn {
    box-shadow: 0px 10px 14px -7px #3e7327;
    background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    background-color: #77b55a;
    border-radius: 4px;
    border: 1px solid #4b8f29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 21px;
    font-weight: bold;
    padding: 7px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5b8a3c;
}

    .btn:hover {
        background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
        background-color: #72b352;
    }

    .btn:active {
        position: relative;
        top: 1px;
    }